body{background-color: goldenrod;}

h1{color: silver;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h3{color: rgb(189, 15, 50);}